@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
@layer components {
  .text-shadow-cn {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(1, 17, 1, 0.911);
  }
  .end-cursor:after {
    content: '|';
    @apply text-primary-green;
  }

  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }

  .animate-drop {
    animation: drop 0.5s ease-in-out forwards;
  }
  .hidden-animate {
    animation: rise 0.5s ease-in-out forwards;
  }
  .profile-element {
    @apply p-2 text-white rounded-lg bg-primary-gray;
  }
  @keyframes drop {
    0% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  @keyframes rise {
    0% {
      height: 200px;
    }
    100% {
      height: 0px;
      display: hidden;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
